esp-idf/.cache/
esp-idf/.idea/
esp-idf/build/
esp-idf/main/build/
esp-idf/main/wasm/client/.idea/
esp-idf/main/wasm/client/build/
esp-idf/main/wasm/process_data/build/
esp-idf/main/wasm/add/build/
esp-idf/main/wasm/client/CMakeFiles/
esp-idf/main/monitor_component/build/
esp-idf/main/monitor_component/monitor-component.wasm
esp-idf/main/monitor_component/monitor-core.wasm
esp-idf/main/monitor_module/build/
esp-idf/main/monitor_module/monitor_module.wasm

backend/.vscode/
backend/.idea/
backend/target/
backend/src/bindings.rs
backend/guest-component.wasm
backend/sqlite:data.db

frontend/.venv/
frontend/client/__pycache__/
frontend/client/tcp_client/
frontend/host-webserver/__pycache__/
frontend/host-webserver/guest/
frontend/host-webserver/host_part/
frontend/host-webserver/host-webserver.wasm
frontend/parser-go/gen/
frontend/parser-py/__pycache__/
frontend/parser-js/node_modules/
frontend/plotter/__pycache__/
frontend/plotter/plotter_guest/
frontend/webserver/__pycache__/
frontend/webserver/webserver/
frontend/webserver/webserver-rust/target/
frontend/webserver/webserver-rust/humidity.html
frontend/webserver/webserver-rust/temperature.html
frontend/webserver/host_part/
frontend/webserver/plugged.wasm
frontend/out/client.wasm
frontend/out/parser.wasm
frontend/out/plugged.wasm
frontend/out/webserver.wasm

memory-test/component-model/c/add-core.wasm
memory-test/component-model/c/example.c
memory-test/component-model/c/example.h
memory-test/component-model/c/example_component_type.o
memory-test/component-model/components/c-add-component.wasm
memory-test/component-model/components/python-add-component.wasm
memory-test/component-model/components/js-add-component.wasm
memory-test/component-model/components/go-add-component.wasm
memory-test/component-model/components/rust-add-component.wasm
memory-test/component-model/go/gen/
memory-test/component-model/go/add.embed.wasm
memory-test/component-model/go/add.wasm
memory-test/component-model/javascript/node_modules/
memory-test/component-model/python/.venv/
memory-test/component-model/python/__pycache__/
memory-test/component-model/python/example/
memory-test/component-model/rust/.vscode/
memory-test/component-model/rust/target/
memory-test/component-model/rust/rust.wasm




/wit-deps/
